.body {
    margin: 0 !important;
    padding: 0 !important;
  }
  .element {
    height: 1000px;
    background-color: #c0b9b9;
    font-size: 45px;
    border-top: 1px solid #000;
    padding-top: 55px;
    padding-left: 10px;
  }
  
  .element.no-padding {
    padding-top: 0;
  }
  .element h2 {
    color: #c0b9b9;

  }
  
  /* .active {
    color: rgb(255, 255, 255) !important;
  } */